body{
    display: flex;
    margin: auto;
    background-image: url(./images/BBhome.jpg);
    flex-wrap: wrap;
    height: auto;
    background-repeat: repeat-y;
}

/* TOP NAVBAR */
.navbar-container {
  z-index: 100;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center; 
  flex-wrap: nowrap;
  align-items: center;
  background-color: #DB3414;
  height: 100%;
}

.bigboss-logo {
  position: absolute;
  z-index: 10;
  width:250px;
  top: 0;
  left: 0; 
}
.nav_links {
  display: flex; 
  justify-content: center;
  align-items: center;
  /* overflow: visible; */
  /* z-index: 10; */
  flex-wrap: wrap; 
}
.nav_links ul {
  list-style-position: inside;
  list-style: none;
  display: flex;

}
.nav_links li {
  font-family: "Varela Round", sans-serif;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px; 
}

.nav_links a {
  font-weight: bolder;
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}


.nav_links li:hover a {
  transform: scale(1.3);
  transition: 0.3s;
  color: yellow;
}
    /* BOTTOM NAVBAR */
.bot-nav {
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  justify-content: center; 
  flex-wrap: nowrap;
  align-items: center;
  background-color: #DB3414;
  /* padding: 5px; */
}

.bot-nav ul {
  list-style-position: inside;
  list-style: none;
  display: flex;

}

.bot-nav a {
  font-weight: bolder;
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.bot-nav li{
  font-family: "Varela Round", sans-serif;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 15px;  */
}
.bot-nav ul li:hover a{
  transform: scale(1.3);
  transition: 0.3s;
  color: yellow;

}


/* Media queries for responsive design */
@media (max-width: 1080px) {
  .nav_links {
      height: auto; 
      width: 100%;
      padding:0 ;      
  }
  
  .nav_links ul {
      /* flex-direction: column;  */
      align-items: center;
      width: 100%;
      
  }

  .nav_links ul li {
      width: 100%;
      text-align: center;
      /* padding: 10px 0;  */
      
  }
  .bigboss-logo {
    width: 25%;
}

}



/* BANNERS */
.allbanner-container {
    display: flex;
    /* flex-direction: column;  */
    justify-content: center;
    align-items: center;
    /* margin-top: 150px; */
    /* position: relative; */
    /* margin-bottom: 50px; */
    flex-wrap: wrap;
    /* height: 1000px; */
    /* width: 1500px; */
    /* margin: auto; */
    overflow: visible;
}

.promo-container,
.hotdogburgerbanner-container,
.sidedrink-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    /* margin-bottom: 10px; */
}
.bundle-banner{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
    margin: auto;
    /* width: 100%; */
    /* bottom: 0; */

}
.hotdogburgerbanner-container {
    flex-direction: column; 
}

.sidedrink-container {
    display: flex;
    justify-content: center;
    gap: 0; /* Adjust the gap to reduce space between banners */
    width: 100%;
}

.sidemeal-banner,
.drink-banner, .bundle-banner {
    margin: 0; /* Remove any additional margins */
}

.promo-banner:hover, .hotdog-banner:hover, .burger-banner:hover, .sidemeal-banner:hover,
.drink-banner:hover, .bundle-banner:hover {
    transform: scale(1.03);
    transition: ease-in-out 0.3s ;
}

/* Media query for mobile view */
@media (max-width: 1080px) {
  .promo-container,
  .hotdogburgerbanner-container,
  .sidedrink-container,
  .bundle-banner {
      flex-direction: column; /* Stack all banners vertically */
  }

  .sidedrink-container {
      gap: 10px; 
  }

  .promo-container img,
  .hotdogburgerbanner-container img,
  .sidedrink-container img,
  .bundle-banner img {
      width: 100%; 
      height: auto; 
  }
}



/* ____________________________________SELECT MENU______________________________________________________ */
.addcart{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  position: relative;
}
.addcart button{
  z-index: 12;
  float: right;
  /* display: flex; */
  right: 0;
  padding: 30px;
  background: transparent;
  border: none;
  font-size: 2em;
  font-weight: bold;
  color: white;
  cursor: pointer;
  /* top: 0; */
  /* margin-top: 20px; */
  /* overflow: hidden; */
}

.selectmenu {
    display: flex; 
    /* flex-wrap: nowrap; */
    /* overflow: visible; */
    /* position: relative; */
}
.sidebar {
    /* position: fixed; */
    /* top: 0; */
    width: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 600px;
    padding: 30px;
    /* height: auto; */
    /* left: 120px; */
    /* margin-top: 150px; */
}
.sidebar button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DB3414;
    padding: 20px;
    /* width: 220px; */
    height: 90px;
    /* margin-bottom: 40px; */
    border: none;
    
}
.sidebar a {
    font-family: "Varela Round", sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5em;
}
#hotdogs-button:hover, 
#burgers-button:hover, 
#sidemeal-button:hover, 
#drinks-button:hover, 
#bundles-button:hover,
#ricemeal-button:hover,
#pastameal-button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#hotdogs-button a:hover, 
#burgers-button a:hover, 
#sidemeal-button a:hover, 
#drinks-button a:hover, 
#bundles-button a:hover,
#ricemeal-button a:hover,
#pastameal-button a:hover {
    color:yellow;
}


.selectmenu-box {
    background-image: url(./images/yellowbg.png);
    background-size: cover; 
    max-width: 900px;
    display: flex;
    /* height: 1400px;  */
    /* margin-top: 150px; */
    /* margin-left: 200px; */
    /* margin-right: auto; */
    margin: 40px;
    /* position: relative; */
    /* flex-wrap: wrap; */
    /* overflow: visible; */
    height: auto;
}
.hotdogitemcontainer, .burgeritemcontainer, .sidemealitemcontainer, .ricemealitemcontainer, .drinksitemcontainer, .bundlesitemcontainer, .pastamealitemcontainer  {
    flex-grow: 1; 
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    display: flex;
    width: 50%;
    height: auto;
    padding: 40px;
    row-gap: 30px; 
    column-gap: 20px; 
    flex-wrap: wrap;
    overflow: visible;
}
.selectmenu-box img, .itemcontainer {
    align-items: center;
}
.itemcontainer {
    display: flex;
    flex-direction: column; 
    background: white;
    width: 250px;
    height: 250px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
}
.hotdogitem, .burger-item,
.sidemeal-item, .ricemeal-item, .pastameal-item, 
.drinks-item,
.bundles-item {
    display: flex; /* Ensure contents are centered within .hotdog-item */
    flex-direction: column; /* Stack contents vertically */
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.itemcontainer button {
    font-family: "Varela Round", sans-serif;
    display: block;
    margin: auto;
}
.itemcontainer a {
    font-family: "Varela Round", sans-serif;
    display: block;
    margin: auto;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
    /* font-size: 1em; */
}
.itemcontainer img {
    object-fit: contain;
    margin-bottom: 10px;
}

.price {
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    font-size: 1.3em;
    cursor: pointer;
}


.addtocart{
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    /* font-size: 1.2em; */
    border: none;
    /* padding: 7px; */
    position: relative;
    background: transparent;
    display: block;
    cursor: pointer;
    color: white;
}
.addtocart:hover{
    /* transform: scale(1.1); */
    transition: 0.7s;
    color: yellow;
}
select{
    border: #DB3414;
    cursor: pointer;
}

.price-select {
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding: 5px;
    font-size: 1em;
    background: transparent;
    margin-bottom: 17px;
    outline: #DB3414;

}
.price-select svg{
    position: absolute;
    z-index: 100;
}

.addbutton {
    --width: 100px;
    --height: 35px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #DB3414;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
  }
  
  .addbutton::before {
    position: absolute;
    /* content: attr(data-tooltip); */
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .addbutton::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #FFA300;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .addbutton::after,.addbutton::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .addtext {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .addbutton-wrapper,.addtext,.addicon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
    font-weight: bold;
  }
  
  .addtext {
    top: 0;

  }
  
  .addtext,.addicon {
    transition: top 0.5s;
  }
  
  .addicon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .addicon svg {
    width: 24px;
    height: 24px;
  }
  
  .addbutton:hover {
    background: #FFA300;
  }
  
  .addbutton:hover .addtext {
    top: -100%;
  }
  
  .addbutton:hover .addicon {
    top: 0;
  }
  
  .addbutton:hover:before,.addbutton:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .addbutton:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .addbutton:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
/* CART */
.cart-container {
    font-family: "Varela Round", sans-serif;
    margin-top: 13em;
    position: fixed;
    float: right;
    right: -100%;
    width: 34%;
    /* height: 800px; */
    background: white;
    display: none;
    align-items: center;
    /* margin-left: auto ; */
    /* margin-right: auto ; */
    justify-content: center;
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
    z-index: 1000;
  }
.cart-container.show{
    display: flex;
    right: 20px;
    transform: translateX(0);
}
  .cart-container button, input[type="submit"] { 
      border:1px solid yellow; 
      color:#fff; 
      background: #DB3414; 
      padding:0.6em 1em;
      font-size:1em; 
      line-height:1; 
      border-radius: 1.2em;
      transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  .cart-container button:hover, .cart-container button:focus, .cart-container button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
      background: yellow;
      border:4px solid #DB3414;
      color:#000;
      font-weight: bold;
      cursor: pointer;
  }
.cart-container h2{
    text-align: center;
}
  .cart-container hr{
    height: 3px;
    background: #DB3414;
    border: 3px;
  }
  .cart-container table {
    margin-bottom:1em;
    border-collapse:collapse;
  }
  .cart-container table td, .cart-container table th {
    text-align:left;
    padding:0.25em 1em;
    border-bottom:1px solid #E0E4CC;
  }
  #carttotals {
    margin-right:0;
    margin-left:auto;
  }
  .cart-buttons {
    width:auto;
    margin-right:0;
    margin-left:auto;
    display:flex;
    justify-content:flex-end;
    padding:1em 0;
  }
  #emptycart {
    margin-right:1em;
  }
  .cart-container table td:nth-last-child(1) {
    text-align:right;
  }
  .message {
    border-width: 1px 0px;
    border-style:solid;
    border-color:#A7DBD8;
    color:#000000;
    padding:0.5em 0;
    margin:1em 0;
    position: absolute;
  }

#alerts {
    position: absolute;
    display: none;
    
}

option {
    color: #DB3414;
    font-weight: bold;
}

/* Media query for mobile view */
@media (max-width: 1080px) {
  .promo-container,
  .hotdogburgerbanner-container,
  .sidedrink-container,
  .bundle-banner {
      flex-direction: column;
  }

  .sidedrink-container {
      gap: 10px;
  }

  .promo-container img,
  .hotdogburgerbanner-container img,
  .sidedrink-container img,
  .bundle-banner img {
      width: 100%;
      height: auto;
  }

  /* Align items by two in a row */
  .hotdogitemcontainer, 
  .burgeritemcontainer, 
  .sidemealitemcontainer, 
  .ricemealitemcontainer, 
  .drinksitemcontainer, 
  .bundlesitemcontainer, 
  .pastamealitemcontainer {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px; /* Adjust vertical gap if needed */
      column-gap: 15px; /* Adjust horizontal gap if needed */
      padding: 10px; /* Adjust padding if needed */
  }

  .itemcontainer {
      width: 100%; /* Make the item container responsive */
      height: auto; /* Adjust height as needed */
  }

  .selectmenu-box{
    height: 100%;
    background-size: cover;
    background-repeat: repeat-y;
    margin-left: 300px;
  }
  .sidebar{
    top: 20;
    /* bottom: 20; */
    position: fixed;
  }
  .sidebar button{
    height: 55px;
  }
  .sidebar a{
    padding: 0;
    font-size: 1.7em; 
  }
  a, .price-select, select{
    font-size: 1em;
  }
  .cart-container{
    width: 500px;
    display: flex;
    top: 0;
    margin: 10em 10%;
    height: auto;
    /* overflow: visible; */
    
  }
  .addcart{
    padding: 0;
    margin: 0;
  }
}


/* ____________________________________STORE PAGE_____________________________________________________ */
.info-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.store-name{
  overflow: visible;
  margin: 0;
}
.store-name h1{
  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
  font-size: 3em;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  /* margin: auto; */
  /* padding: 30px; */
  /* margin-top: 130px; */
  /* position: relative; */
}
.bigbossstore-logo{
  width: 5%;
  /* display: flex; */
  /* position: absolute; */
  /* margin-top: -25px; */
}
.store-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* position: relative; */
  /* margin-bottom: 100px; */
  /* overflow: visible; */
}
.store-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.imageslider-container {
  font-family: "Varela Round", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 30px;

  background: transparent ;
  row-gap: 0;

}
.description{
  /* padding-top: 50px; */
  font-family: "Varela Round", sans-serif;
  float: right;
  display: flex;
  margin: 10px;
  width: 770px;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
}
.followus {
  display: flex;
  width: 50%;
  padding: 10px;

}

.imageslide {
  display: flex;
  margin-top: 0;
  /* width: 600px; */

}
.imageslider-container {
  font-family: "Varela Round", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 30px;
  /* left: 100px; */
  /* margin: auto; */
  /* position: absolute; */
  background: transparent ;
  row-gap: 0;
  /* overflow: auto; */
}
.description{
  padding-top: 50px;
  font-family: "Varela Round", sans-serif;
  float: right;
  display: flex;
  margin: 10px;
  width: 770px;
  /* margin-left: 750px; */
  position: relative;
  /* padding-left: 200px; */
  flex-wrap: wrap;
  flex-direction: column;
}
.followus {
  display: flex;
  width: 50%;
  padding: 10px;
  /* margin-left: 19%; */
  /* margin-top: 20px; */
  /* position: relative; */
}
.arrows-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 320px;
  padding: 10px;
}
.arrow {
  /* transform: translateY(-50%); */
  font-size: 2rem;
  color: white;
  z-index: 9;
  opacity: 0.5;
  transition: opacity 0.5s;
}
.dots {
  position: relative;
  left: 0;
  right: 0;
  bottom: 35px;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.arrow:hover {
  cursor: pointer;
  opacity: 1;


}
.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.store-content b, .store-content2 b{
  /* display: block; */
  font-size: 1.6em;
  
}
.store-content a, .store-content2 a{
  /* display: block; */
  font-size: 1.4em;
}

.imageslider-container img, .imageslider-container2 img {
  /* width: 100%; */
  /* height: 100%;  */
  object-fit: cover;
  /* position: relative; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: fade 1s;
  display: none;
}

.imageslider-container img:first-child,
.imageslider-container2 img:first-child {
  display: flex;
}


.dot {
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  margin: 0 0.3rem;
  cursor: pointer;
}

@keyframes fade {
  from { opacity: 0.1; }
  to { opacity: 1; }
}


.followus h1, .followus2 h1{
  font-family: sans-serif;
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 4px;
  padding: 200px 0 100px;
  color: #007cc4;
  text-align: center;

}
.Social-media{
  display: flex;
  justify-content: center;
}
.followus a, .followus2 a{
  display: flex;
  /* background: #fff; */
  height: 45px;
  width: 45px;
  margin: 0 15px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* box-shadow: 6px 6px 10px -1px rgba(0,124,196,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7);
  border: 1px solid rgba(0, 124, 196, 0); */
  transition: transform 0.5s
}
.followus a i, .followus2 a i{
  font-size: 50px;
  color:#DB3414;
  transition: transform 0.5s;
}
.followus a:hover, .followus2 a:hover{
  /* box-shadow:inset 4px 4px 6px -2px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                    -0.5px -0.5px 0px -1px rgba(255,255,255,1),
                    0.5px 0.5px 0px rgba(0,0,0,0.15),
                    0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0, 124, 196, 0.1); */
  transform: translateY(2px);
}
.followus a:hover i{
  transform: scale(1.2);
}
.followus a:hover .fa-facebook{
  color: #3b5998;
}
.followus a:hover .fa-twitter{
  color: #00acee;
}
.followus a:hover .fa-whatsapp{
  color: #4fce5d;
}
.followus a:hover .fa-instagram{
  color: #ff5a67;
}
.followus a:hover .fa-youtube{
  color: #f00;
}
.imageslider-container2 {
  font-family: "Varela Round", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 30px;
  /* left: 100px; */
  /* margin: auto; */
  /* position: absolute; */
  background: transparent ;
  row-gap: 0;
  /* overflow: auto; */
}
.description2{
  padding-top: 50px;
  font-family: "Varela Round", sans-serif;
  float: left;
  display: flex;
  margin: 10px;
  width: 770px;
  /* margin-left: 750px; */
  position: relative;
  /* padding-left: 200px; */
  flex-wrap: wrap;
  flex-direction: column;
}
.followus2 {
  display: flex;
  width: 50%;
  padding: 10px;
  /* margin-left: 19%; */
  /* margin-top: 20px; */
  /* position: relative; */
}


.gmap{
  display: inline-block;
  z-index: 9;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
  width: 700px;
}
.gmap:hover{
  transform: scale(1.5);
  background-image: url(images/gmapstikay.PNG); 
}


/* Media query for mobile view */
  @media (max-width: 1080px) {
    .info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
    }
    .store-name, .store-info, .store-content,.store-content2, .description, .description2, .followus, .followus2, .arrows-container, .dots, .gmap {
      width: 100%;
      text-align: center;
      /* overflow: hidden; */
      align-items: center;
    }
    .store-name h1 {
      font-size: 2em;
    }
    .bigbossstore-logo {
      width: 10%;
      margin: 0 auto;
    }
    .store-info {
      flex-direction: column;
      align-items: center;
    }
    .store-content, .store-content2 {
      flex-direction: column;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .description {
      width: 90%;
    }
    .followus, .followus2 {
      width: 90%;
      justify-content: center;
    }
    .arrows-container {
      flex-direction: column;
      align-items: center;
    }
    .arrow {
      font-size: 1.5rem;
    }
    .dot {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1rem;
    }
    .followus h1 {
      padding: 100px 0 50px;
    }
    .store-content a, .store-content2 a{
      font-size: 1em;
      width: 80%;
    }
    .followus a {
      height: 35px;
      width: 35px;
      margin: 0 10px;
    }
    .followus a i {
      font-size: 40px;
    }
    .gmap {
      width: 50%;
      display: none;
    }
  }

